@import './base.css';
@import './shadcn.css';

body {
  overflow: hidden;
  user-select: none;
}

#root{
  height: 100vh;
  width: 100vw;
}

.chat-list{
  /* background-image: url('./wavy-lines.svg'); */
  background-image: url('./bg.png');
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(221, 83%, 53%, 10%); 
  cursor: pointer;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(221, 83%, 53%, 0.424); 
  cursor: pointer;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(221.2 83.2% 53.3%); 
  
}